# https://star4.slack.com/archives/C08RP8G5N0K/p1771554601783279?thread_ts=1771550728.764669&cid=C08RP8G5N0K
# This map is not public
odaiba.osm

# Cache file for lanelet2 => OpenDRIVE conversion
*.mapping.json

# Generated OpenDRIVE files (built from .osm by the converter)
nishishinjuku_carla.xodr
